body {
  background-color: #f5f5f5;
}
.bg-color {
  width: 400px;
  height: 50px;
}
.bg-color-name {
  background-color: tomato;
}
.bg-color-hexa {
  background-color: #ff9756;
}
.bg-color-rgb {
  background-color: rgb(255, 183, 138);
}
/* ************************************ */
.bg-image {
  width: 500px;
  height: 200px;
  background-color: lightblue;
  background-image: url('../../../../assets/gato.jpg');
}
.bg-image span {
  color: white;
  font-size: 35px;
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.bg-image-repeat {
  width: 500px;
  height: 200px;
  background-color: lightblue;
  background-image: url('../../../../assets/gato.jpg');
  background-repeat: no-repeat;
}

.bg-image-att {
  width: 500px;
  height: 200px;
  background-color: lightblue;
  background-image: url('../../../../assets/profile2.jpg');
  background-attachment: fixed;
}

.bg-image-size {
  width: 500px;
  height: 200px;
  background-color: lightblue;
  background-image: url('../../../../assets/gato.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-image-pos {
  width: 800px;
  height: 500px;
  background-color: lightblue;
  background-image: url('../../../../assets/gato.jpg');
  background-repeat: no-repeat;
  /* background-position: center; */
  background-position: 50% 50%;
}
