html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.lado-izquierdo {
  width: 300px;
  background-color: rgb(243, 232, 232);
  margin: 0px;
  padding: 0px;
  color: hsl(261, 18%, 49%)
}

h2 {
  font-style: italic;
  margin-top: 0mm;
  color: hsl(261, 18%, 49%)
}


h3 {
  font-variant: small-caps;
  color: hsl(261, 18%, 49%);
 }

header div {
  background-color: rgb(123, 172, 201);
  background-image: url('../../../../assets/u.distrital.jpg');
  background-repeat: no-repeat;
  text-align: center;
}

header div .img-profile {
  width: 150px;
  height: auto;
}

.menu-navegacion {
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
  /*border: 10px solid rgb(0, 250, 0);
padding-top: 40px 40px 10px 5px;
*/
  margin: 2px;
  text-align: center;
}

.menu-table{
  margin-left: 0px;
  background-color: rgb(243, 232, 232);
}

.menu-navegacion tr td a {
  text-decoration: none;
  color: rgb(128, 128, 128);
}

.text-gray {
  color: rgb(128, 128, 128);
  font-weight: bolder;
  font-style: italic;
}

h4 {
  text-decoration: underline;
  margin: 10px;
}

p {
  font-size: 14px;
  line-height: 1.7;
}

article p {
  text-align: justify;
  font-size: 14px;
  line-height: 1.7;
}

.nombre-empresa {
  font-weight: bolder;
  color: #776794;
}

section {
  background-color: azure;
  margin-left: 300px;
  padding: 20px;
}

.formacion {
  font-weight: bolder;
  color: #776794;
}

ul li {
  font-size: 14px;
  line-height: 1.7;
  text-align: justify;
}

ul{
  margin-bottom: 30px;
  
}

h5 {
  font-weight: bold;
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 2px;
}

/*.datos-contacto {
  list-style-image: url('../../../../assets/contacts_1.svg');
}
*/