h2{
font-style: italic;
}

h3{
font-variant: small-caps;   
}

.img-profile img{
width: 150px;
height: auto;
}

header{
background-color: rgba(142, 210, 250);
background-image:url("u.distrital.jpg");
}

.menu-navegacion {
background-color:rgb(245, 222, 179);
font-weight: bold;
font-family: 'Roboto', sans-serif;
font-style: italic;
font-variant: small-caps;
}

.menu-navegacion ul li a{
text-decoration: none;
}

.text-gray{
color: #B3B6B7;
font-weight: lighter;
}

h4{
text-decoration: underline;
}

p{
text-align: justify;
}

.text-gray{
font-style: italic;
}

.nombre-empresa{
font-weight: bolder;
}

h5{
font-weight: bold;
}

section{
background-color: azure;
}