.caja {
  width: 150px;
  height: 150px;
  background-color: lightgreen;
  position: relative;
  -webkit-animation-name: animacion1;
  -moz-animation-name: animacion1;
  -o-animation-name: animacion1;

  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;

  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;

  -webkit-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

.pause {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
}

@-moz-keyframes animacion1 {
  from {
    left: 0px;
  }
  to {
    left: 50%;
    background-color: lightsalmon;
  }
}
@-o-keyframes animacion1 {
  from {
    left: 0px;
  }
  to {
    left: 50%;
    background-color: lightsalmon;
  }
}
@-webkit-keyframes animacion1 {
  from {
    left: 0px;
  }
  to {
    left: 50%;
    background-color: lightsalmon;
  }
}

.caja-padre {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: limegreen;
  margin: 0 auto;
}

.caja-hijo-2 {
  position: relative;
  margin: 0 auto;
  top: 50px;
  width: 300px;
  height: 300px;
  background-color: red;
}

.caja-hijo {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: lightpink;
  animation-name: movimiento;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes movimiento {
  0% {
    top: 0;
    left: 0;
    background-color: lightpink;
    transform: scale(1);
  }

  25% {
    top: 0;
    left: calc(100% - 50px);
    background-color: lightsalmon;
    transform: scale(1.2);
  }

  50% {
    left: calc(100% - 50px);
    top: calc(100% - 50px);
    background-color: blueviolet;
    transform: scale(1.35);
  }

  75% {
    top: calc(100% - 50px);
    left: 0;
    background-color: tomato;
    transform: scale(1.5);
  }

  100% {
    top: 0;
    left: 0;
    background-color: lightpink;
    transform: scale(1);
  }
}
