.form-container {
  background-color: #ddd;
}
.form-container__input {
  color: blueviolet;
}
.form-container__input--blue:focus {
  background-color: blue;
}


.form-container__btn {
  background-color: crimson;
  color: white;

}
